/*  ------------------------------------------------  General Styling  -------------------------------------------------------------------*/
body {
    font-family: "Quicksand", sans-serif;
    background-color: black;
    color:azure;
    text-align: center;
}

h1 {
    padding: 20px, 40px;
    text-align:center;
}

h5 {
    font-family: "Chakra Petch", sans-serif;
    padding: 20px, 40px;
    text-align:center;
}

/*  -------------------------------------------------  Targetted Styling  ----------------------------------------------------------------*/
/*  -------------------------------------------------  Headers  ----------------------------------------------------------------*/
header {
    max-width: 90%;
    height: 100px;
}

/*  -------------------------------------------------  Main  ----------------------------------------------------------------*/
main {
    display:flex;    
    align-items: center;
    justify-content: center;
    width:95%;
}

.game-zone {
    width: 350px;
    max-height: 50%;
    margin-top:10px;
    margin-bottom: 20px;
    padding:10px;
    align-items: center;
}

.start {
    max-width: 90%;
}

#mind-blown {
    display:flex;
    height: 500px;
    width: 80%;
}

#game-scroll {
    display:flex;
    height: 500px;
    width: 95%;
    justify-content: center;
}

.question-area {
    display:flex;
    max-width: 85%;
    max-height:250px;
    padding:30px;
    margin-top:5px;
    margin-bottom:10px;
    font-family: "Quicksand", sans-serif;
    justify-content: center;
}

.answer-options {
    justify-content: space-between;
    padding:5px;
    height: 100px;
}