/*  ------------------------------------------------  General Styling  -------------------------------------------------------------------*/
body {
    font-family: "Quicksand", sans-serif;
    background-color: black;
    color:azure;
    text-align: center;
}